/*----------------------------------------------
                                              -
Catalpa Blog                                  -
                                              -
Date: 2020/05/13                              -
                                              -
https://www.bsgun.cn                          -
                                              -
看见这个我希望你能够留下我信息                   -
                                              -
------------------------------------------------*/
/*文章标题居中*/
.panel h1 {
    text-align: center
}
/*文章图片加阴影*/
.wrapper-lg img{
    box-shadow: darkgrey 0px 0px 3px 3px;
}
/*时光机右侧透明修复*/
.bg-auto:before {
	background: rgba(255,255,255,0)
}
.hbox.hbox-auto-xs.hbox-auto-sm {
    background-color: #f9f9f9;
}
.post-item-foot-icon {
    text-align: center
}
/*修复手机表情*/
.secret_comment{
    top:-32px
}

.OwO.OwO-open .OwO-body {
    display: table
}

/*图标旋转放大闪光*/
.thumb-lg {
	width: 68px
}
.img-full {
	border-radius: 50%;
	animation: light 4s ease-in-out infinite;
	transition: .5s
}
.img-full:hover {
	transform: scale(1.1) rotate(720deg)
}
@keyframes light {
	0% {
		box-shadow: 0 0 4px red
	}

	25% {
		box-shadow: 0 0 16px #0f0
	}

	50% {
		box-shadow: 0 0 4px #00f
	}

	75% {
		box-shadow: 0 0 16px #0f0
	}

	100% {
		box-shadow: 0 0 4px green
	}
}
.img-square {
	transition: all .3s;
	border-radius: 50%
}
.img-square:hover {
	transform: rotate(720deg)
}
.blog-post .panel-small:not(article),.blog-post .panel:not(article) {
	transition: all .3s
}
.thumb-sm:hover {
	transform: scale(1.15) rotate(720deg)
}
/*bilibili视频挂载*/
.iframe_video {
    position: relative;
    width: 100%
}

@media only screen and (max-width:767px) {
    .iframe_video {
        height: 15em
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .iframe_video {
        height: 20em
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .iframe_video {
        height: 30em
    }
}

@media only screen and (min-width:1200px) {
    .iframe_video {
        height: 40em
    }
}

.iframe_cross {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%
}

.iframe_cross iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}
/* 右侧列表导航栏图标颜色 */
.sidebar-icon svg.feather.feather-thumbs-up {
    color: #52de97
}

.sidebar-icon svg.feather.feather-message-square {
    color: #495dc3
}

.sidebar-icon svg.feather.feather-gift {
    color: #f67280
}
/*自定义友链样式*/
.link-box a .thumb {
    font-size: 0;
    overflow: hidden;
    background-color: #fff;
    margin: 0;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    width: 100%
}

.link-box {
    overflow: hidden;
    padding-top: 20px;
    margin: -3.125rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.link-box a {
    width: 16%;
    text-align: center;
    margin: 2%;
    border-radius: 1.3125rem
}

.link-box a:hover {
    box-shadow: 5px 5px 5px 5px rgba(121,205,205,.35);
    -moz-box-shadow: 5px 5px 5px 5px rgba(121,205,205,.35)
}
/*底部页脚*/
.github-badge {
    display: inline-block;
    border-radius: 4px;
    text-shadow: none;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    background-color: #abbac3;
    margin-bottom: 5px
}

.github-badge .badge-subject {
    display: inline-block;
    background-color: #4d4d4d;
    padding: 4px 4px 4px 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.github-badge .badge-value {
    display: inline-block;
    padding: 4px 6px 4px 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.github-badge .bg-blue {
    background-color: #007ec6
}

.github-badge .bg-orange {
    background-color: orange
}

.github-badge .bg-red {
    background-color: red
}

.github-badge .bg-green {
    background-color: #3bca6e
}

.github-badge .bg-purple {
    background-color: #ab34e9
}
/*海绵宝宝表情自定义大小*/
.emotion-spongbob {
    width: 40PX;
}
.comment-content-true img.emotion-spongbob {
    max-width: 100%!important;
}
/*B站表情自定义大小*/
.emotion-BZ {
    width: 40PX;
}
.comment-content-true img.emotion-BZ {
    max-width: 100%!important;
}
/*panel阴影*/
.panel {
	box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
}

.panel:hover {
	box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
}

.panel-small {
	box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
}

.panel-small:hover {
	box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
}

.app.container {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.panel:hover,.panel-small:hover,.panel-picture:hover {
	box-shadow: 1px 1px 3px 3px rgba(175,238,238);
	-moz-box-shadow: 1px 1px 3px 3px rgba(175,238,238);
}
.panel {
    border: none;
    border-radius: 18px
}
/*首页文章版式圆角化*/
.panel {
	border: none;
	border-radius: 15px
}

.panel-small {
	border: none;
	border-radius: 15px
}

.item-thumb {
	border-radius: 15px
}
/*首页文章图片获取焦点放大*/
.item-thumb {
    cursor: pointer;
    transition: all .6s
}

.item-thumb:hover {
    transform: scale(1.05)
}

.item-thumb-small {
    cursor: pointer;
    transition: all .6s
}

.item-thumb-small:hover {
    transform: scale(1.05)
}
/*超链接特效*/
.comment-content-true a:not(.light-link):not(.post_inser_a),.wrapper-lg .entry-content a:not(.light-link):not(.post_inser_a) {
    position: relative;
    margin: auto 4px;
    color: #23b7e5;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: inherit;
    width: inherit
}

.comment-content-true a:not(.light-link):not(.post_inser_a):focus,.comment-content-true a:not(.light-link):not(.post_inser_a):hover,.wrapper-lg .entry-content a:not(.light-link):not(.post_inser_a):focus,.wrapper-lg .entry-content a:not(.light-link):not(.post_inser_a):hover {
    color: #fff
}

.comment-content-true a:not(.light-link):not(.post_inser_a)::after,.comment-content-true a:not(.light-link):not(.post_inser_a)::before,.wrapper-lg .entry-content a:not(.light-link):not(.post_inser_a)::after,.wrapper-lg .entry-content a:not(.light-link):not(.post_inser_a)::before {
    position: absolute;
    top: 0;
    left: -4px;
    z-index: -1;
    box-sizing: content-box;
    padding: 0 4px;
    width: 100%;
    height: 100%;
    content: ''
}

.comment-content-true a:not(.light-link):not(.post_inser_a)::before,.wrapper-lg .entry-content a:not(.light-link):not(.post_inser_a)::before {
    background-color: #23b7e5;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
    transition-timing-function: cubic-bezier(.7,0,.3,1);
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%
}

.comment-content-true a:not(.light-link):not(.post_inser_a):focus::before,.comment-content-true a:not(.light-link):not(.post_inser_a):hover::before,.wrapper-lg .entry-content a:not(.light-link):not(.post_inser_a):focus::before,.wrapper-lg .entry-content a:not(.light-link):not(.post_inser_a):hover::before {
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
}

.comment-content-true a:not(.light-link):not(.post_inser_a)::after,.wrapper-lg .entry-content a:not(.light-link):not(.post_inser_a)::after {
    border-bottom: 1px solid #23b7e5
}
/* 文章动画 */
.blog-post .panel-small:not(article):hover,
.blog-post .panel:not(article):hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 10px rgba(175,238,238);
}
/*选中样式*/
::selection {
    background:#AFEEEE; 
    color:#FF8C00;
    text-shadow: none;
}
/*标题悬停颜色*/	
.index-post-title a:hover {
    color: #2ebaae
}
/*头像背景*/
 #aside .wrapper{
	background:url(https://cdn.jsdelivr.net/gh/Catalpablog/handsome/img/headBG.gif);
	background-size:80%;
	background-repeat: no-repeat;
	background-position: center;
	color:#999
}
/*版权美化*/
.cpright {
    padding: 10px;
    background: rgba(220,220,220,0.1);
    margin: 8px 0;
    font-size: 13px;
    border-left: 3px solid;
    position: relative;
    z-index: 1;
    text-align: left;
}
.cpright a {
    margin: 4px;
    border-bottom: 0px solid #999!important;
}
/*打赏背景图*/
.support-author{
	background-repeat:round;
	background-image:url(https://cdn.jsdelivr.net/gh/Catalpablog/handsome/img/menherasauce.png);
}

.single-post.panel {
    border-radius: 15px;
}
/*时光机框*/
.panel {
    border-radius: 0px;
}
/*头像背景*/
 #aside .wrapper{
	background:url(https://cdn.jsdelivr.net/gh/Catalpablog/handsome/img/headBG.gif);
	background-size:80%;
	background-repeat: no-repeat;
	background-position: center;
        color: 	#483D8B;
}
/*文章标题居中*/
.bg-light .lter, .bg-light.lter {
    text-align: center;
}
/*右边栏组件标题*/
.widget-title {
    font-weight: bold;
}
/*首页顶部背景*/
header.bg-light.lter.b-b.wrapper-md {
    background-image: url(https://cdn.jsdelivr.net/gh/Catalpablog/handsome/img/SYBG.png);
    background-size:100% 100%;
}
/*时光机顶部蒙版*/
.bg-white-opacity {
    background-color: rgba(255, 255, 255, 0);
}
/*文章顶部背景*/
#small_widgets{
    background-image: url(https://cdn.jsdelivr.net/gh/Catalpablog/handsome/img/WZBG.png);
    background-size:100% 100%;
}